/* General */

body{
  display: flex;
  padding-bottom: 500px;
  background-color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
@media (max-width:625px){
  body{
    padding-left:70px;
  }
}
@media (min-width:625px){
  body{
    padding-left:80px;
  }
}

/* Main */
main{
  
}





/* Aside */
aside{
  
}




/* 
<body>
  
  <main>
    <header>

      <div id="cattegory-title-container">
        <h2 id="cattegory-title">Home</h2>
      </div>
  
      <div id="cattegory-title-button-container">
        <button class="Cattegory-title-button">For you</button>
        <button class="Cattegory-title-button">Following</button>
      </div>
  
    </header>
    <div id="home-page-content">
      <article id="post-creator-container">

        <div class="Post-profile-picture-container">
          <img class="Profile-picture-image" src="Profile-pictures/Profile-picture1.png">  
        </div>
        <div class="Post-content-container">
          <div id="post-creator-input-container">
            <input id="post-creator-input" placeholder="What's meowing around?!">
          </div>
        <div id="post-creator-buttons-container">

          </div>
        </div>
      </article>
    </div>
  </main>

  <aside>

  </aside>

</body>
*/